canvas#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#elementsGirl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/bubble.webp"),
    url("/assets/images/coral.webp");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: contain;
  filter: blur(1px);
  z-index: 2; 
}
/* particles.js container */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: chromaticAnimation 0.5s infinite ease-in-out;
  z-index: 3;
}

@keyframes chromaticAnimation {
  0% {
    filter: drop-shadow(-2px 0 rgba(255, 0, 0, 0.2)) drop-shadow(2px 0 rgba(0, 255, 255, 0.4));
  }
  50% {
    filter: drop-shadow(-4px 0 rgba(255, 0, 0, 0.4)) drop-shadow(4px 0 rgba(0, 255, 255, 0.6));
  }
  100% {
    filter: drop-shadow(-2px 0 rgba(255, 0, 0, 0.2)) drop-shadow(2px 0 rgba(0, 255, 255, 0.4));
  }
}

.dynamicBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Foreground */
#filterLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
